<div class="menu">

  <div class="logo">
    <a routerLink="/home">
      <img src="assets/logo.png" alt="">
      <span class="title">{{title | uppercase}}</span>
    </a>
  </div>

  <div class="toggle-button">
    <label for="chkbox" href="" class="links"><i class="fa fa-bars"></i></label>
  </div>

  <input type="checkbox" id="chkbox">

  <div class="nav-bar">
    <ul class="nav-links">

      <!-- <li><a class="links" routerLink="/home">Home</a></li>
      <li><a class="links" routerLink="/aboutus">About Us</a></li>
      <li><a class="links" routerLink="/contactus">Contact Us</a></li> -->

      <li class="dropdown" *ngIf="(moduleList$ | async ) as mlist">
        <ng-container *ngFor="let module of mlist">
          <a class="dropdown-toggle links mx-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{module.name}}
          </a>
          <ul class="dropdown-menu" *ngIf="(records$ | async ) as records">
            <ng-container *ngFor="let menu of records">
              <li *ngIf="isOk(module,menu)">
                <a class="dropdown-item" routerLink="{{menu.menu_route}}" [queryParams]="getParam(menu)">
                  {{menu.menu_name}}
                </a>
              </li>
            </ng-container>
          </ul>
        </ng-container>
      </li>
    </ul>
  </div>
  <span class="spacer"></span>

  <div class="login">
    <span id="userName" *ngIf="userName$ | async as userName">{{userName}}</span>
    <ng-container *ngIf="isLoggedOut$ | async as isLoggedOut">
      <button class="btn btn-sm btn-success" routerLink="/login">Login</button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn$ | async as isLoggedIn">
      <button class="ms-4 btn btn-sm btn-success" (click)="logout()">Logout</button>
    </ng-container>
  </div>

</div>