thead {
  font-size: 9px;
}

tbody {
  font-size: 10px;
}

.form-control::placeholder {
  font-family: FontAwesome;
}

.lov-class {
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 10px 10px 10px 0px lightgray;
  background-color: ghostwhite;
}


.btnRadio {
  outline: none;
}