<div class="page-header">
  <h5>{{title}}</h5>
  <button *ngIf="bAdd" class="btn btn-sm btn-success" (click)="save()">Re-Update</button>
  <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
</div>

<div class="page-search" *ngIf="(search_record$ | async) as record">
  <app-settings-search [input]="record" (output)="search($event)"></app-settings-search>
</div>

<div class="page-pagination" *ngIf="(page$ | async) as page">
  <app-page [page]="page" (pageEvents)="pageEvents($event)"></app-page>
</div>

<div class="page-body">
  <ng-container *ngIf="(records$ | async) as records">
    <app-table [table]="table_data" [data]="records" (callback_table)="callback_table($event)"
      [sort_column]="sort_column$ | ngrxPush" [sort_order]="sort_order$ | ngrxPush" [row_id_name]="'id'"
      [selected_id]="selected_id$ | ngrxPush">
    </app-table>
  </ng-container>

</div>

<div class="page-pagination line-bottom" *ngIf="(page$ | async) as page">
  <app-page [page]="page" (pageEvents)="pageEvents($event)"></app-page>
</div>