.box {
  border: 1px solid lightgray;
}

.page-header {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 6px;
  color: chocolate;
  margin: 65px 1px 0px 1px;
}

.page-body {
  padding: 10px 0px 10px 0px;
  margin: 1px 1px 0px 1px;
}

.page-footer {
  display: flex;
  justify-content: center;
  padding: 2px 0px 2px 0px;
  margin: 1px 1px 0px 1px;
  gap: 2px;
}