/* You can add global styles to this file, and also import other style files */


html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
}


.table-header {
  color: chocolate;
  font-weight: bold;
  font-size: 11px !important;
}

.error-text {
  font-size: smaller;
  color: chocolate;
}

.link {
  cursor: pointer;
  color: chocolate;
  text-decoration: underline;
}

.text-center {
  text-align: center;
}