<div class="page-header box">
  <h5>Module List</h5>
  <button class="btn btn-success btn-sm" routerLink="/module/moduleEdit" [queryParams]="{id :0}">Add</button>
  <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
</div>

<div class="page-search box">
  <ng-container *ngIf="(search_record$ | async) as record">
    <app-module-search [input]="record" (output)="search($event)"></app-module-search>
  </ng-container>

</div>

<div class="page-pagination">
  <app-page (pageEvents)="pageEvents($event)"></app-page>
</div>


<div class="page-body box">
  <div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed">
      <thead class="table-success">
        <tr>
          <th>Edit</th>
          <th>Name</th>
          <th>Visible</th>
          <th>Order</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rec  of records$ |async" (click)="selectRow(rec.module_id)"
          [ngClass]="{'table-info' : rec.module_id == (selectedRowId$ | async) }">
          <td (click)="selectRow(rec.module_id)" class="link" routerLink="/module/moduleEdit"
            [queryParams]="{id :rec.module_id}">Edit</td>
          <td>{{rec.module_name}}</td>
          <td>{{rec.module_is_installed}}</td>
          <td>{{rec.module_order}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="page-pagination">
  <app-page></app-page>
</div>