<div>
  <input type="text" class="form-control form-control-sm" (blur)="onBlur()" [formControl]="ctrl" autocomplete="off"
    placeholder="&#61442; Search" [id]="id">

  <div class="my-class" [ngStyle]="{'display' : showDiv ? 'block' : 'none'}">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rec of records">
          <td>{{rec.module_id}}</td>
          <td>{{rec.module_name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>